<h2 class="text-center mt-1">Créer un compte</h2>

<div class="container offset-4 col-4 formcreate">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
  data: {turbo: false}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name,
                label: "Nom",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "name" }%>
    <%= f.input :email,
                label: "Courriel",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                label: "Mot de passe",
                required: true,
                hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: "Confirmation du mot de passe",
                required: true,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :address,
                label: "Adresse",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "address" }%>
  </div>

  <div class="form-actions d-grid gap-2">
    <%= f.button :submit, "Créer un compte", class: "btn button-orange-forms btn-lg btn-block" %>
  </div>
<% end %>

<div class="form-actions mt-3 text-center">
<%= render "devise/shared/links" %>
</div>
</div>
<br>
