<div class="col-10 offset-1">
  <% my_shows.each do |my_show| %>
    <div class="card mb-3 shadow w-50">
      <div class="row g-0">
        <div class="col-md-4">
          <%= cl_image_tag my_show.photos[0].key, class:"img-fluid rounded-start"%>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><%= my_show.company %></h4>
            <p class="card-text"><%= my_show.description %></p>
            <div>
              <p class="card-text"><small class="text-muted"><strong>Créateur:</strong> <%= my_show.user.name %></small></p>
            </div>
          </div>
        </div>
        <div class="card-footer">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item m-1">
          <%= link_to edit_show_path(my_show) do %>
            <i class="fa-solid fa-pen-to-square orange-icon"></i>
          <% end %>
          </li>
          <li class="list-group-item m-1 hover">
             <%= link_to show_path(my_show), data:{turbo_method: :delete, turbo_confirm:'Êtes vous sûr de vouloir supprimer ce spectacle ?'} do %>
              <i class="fa-solid fa-trash-can orange-icon"></i>
             <% end %>
          </li>
        </ul>
        </div>
      </div>
</div>
  <% end %>
</div>
