<div id="shows" class="row my-3 d-none">
    <% shows.each do |show| %>
    <div class="col-4">
      <div class="card m-2 shadow">
        <div class="card-header">
            <strong>Companie&nbsp;:&nbsp;</strong>
             <%=show.show.company %>
        </div>
        <div class="row g-0">
          <div class="col-md-4">
            <% if show.show.photos[0] %>
              <%= cl_image_tag show.show.photos[0].key, class:"img-fluid h-100 w-100 rounded-start"%>
            <% else %>
                <%= image_tag asset_url("logo4b.png"), class:"img-fluid rounded-start h-auto w-100" %>
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title">
                <%= show.show.name %>
              </h4>
              <p class="card-text"><%= show.show.description %></p>
              <div>
                <p class="card-text"><small class="text-muted"><strong>Créateur&nbsp;:&nbsp;</strong> <%= show.show.user.name %></small></p>
              </div>
              <span><strong>Prix&nbsp:&nbsp;</strong> <%=show.show.price%></span>
            </div>
          </div>
          <div class="card-footer">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item m-1 hover">
              <%= link_to booking_path(show.show) do %>
                  <i class="fa-solid fa-magnifying-glass-plus orange-icon"></i>
              <% end %>
            </li>
            <li class="list-group-item m-1 hover">
              <%= link_to booking_path(show), data:{turbo_method: :delete, turbo_confirm:'Voulez-vous annuler votre réservation ?'} do %>
                <i class="fa-solid fa-trash-can orange-icon"></i>
              <% end %>
            </li>
          </ul>
          </div>
        </div>
    </div>
  </div>
  <% end %>
</div>
