<div id="user-shows" class="row my-3 cards">
  <% user_shows.each do |user_show| %>

    <div class="card shadow">

      <div class="card-header w-100">
          <strong>Companie:</strong>
          <%=user_show.company %>
      </div>

      <div class="card-content d-flex">
        <div class="col-md-4"  id="cardalign">
          <% if user_show.photos[0] %>
            <%= cl_image_tag user_show.photos[0].key, class:"img-fluid rounded-start h-auto w-100"%>
          <% else %>
            <%= image_tag asset_url("logo4b.png"), class:"img-fluid rounded-start h-auto w-100" %>
          <% end %>
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h6 class="card-title">
                <%= user_show.name %>
            </h6>
            <p class="card-text"><%= user_show.description.first(50) %>...</p>
            <div>
              <p class="card-text"><small class="text-muted"><strong>Créateur:</strong> <%= user_show.user.name %></small></p>
            </div>
              <span><strong>Prix:</strong> <%= user_show.price%></span>
          </div>
        </div>
      </div>

      <div class="card-footer w-100">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item m-1">
          <%= link_to edit_show_path(user_show) do %>
            <i class="fa-solid fa-pen-to-square orange-icon"></i>
          <% end %>
          </li>
          <li class="list-group-item m-1 hover">
            <%= link_to show_path(user_show), data:{turbo_method: :delete, turbo_confirm:'Êtes vous sûr de vouloir supprimer ce spectacle ?'} do %>
              <i class="fa-solid fa-trash-can orange-icon"></i>
            <% end %>
          </li>
        </ul>
      </div>

    </div>

  <% end %>
</div>
