<div id="user-shows" class="row my-3 d-none">
    <% user_shows.each do |user_show| %>
      <div class="col-4">
        <div class="card mb-3 shadow">
          <div class="row g-0">
            <div class="col-md-4">
            <% if user_show.photos[0] %>
              <%= cl_image_tag user_show.photos[0].key, class:"img-fluid rounded-start h-100 w-100"%>
              <% else %>
              <%= image_tag asset_url("https://placekeanu.com/200/300/g"), class:"img-fluid rounded-start h-100 w-100" %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title"><%= user_show.company %></h4>
                <p class="card-text"><%= user_show.description %></p>
                <div>
                  <p class="card-text"><small class="text-muted"><strong>Créateur:</strong> <%= user_show.user.name %></small></p>
                </div>
                  <span><strong>Prix:</strong> <%= user_show.price%></span>
              </div>
            </div>
            <div class="card-footer">
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item m-1">
              <%= link_to edit_show_path(user_show) do %>
                <i class="fa-solid fa-pen-to-square orange-icon"></i>
              <% end %>
              </li>
              <li class="list-group-item m-1 hover">
                <%= link_to show_path(user_show), data:{turbo_method: :delete, turbo_confirm:'Êtes vous sûr de vouloir supprimer ce spectacle ?'} do %>
                  <i class="fa-solid fa-trash-can orange-icon"></i>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</div>
