 <div class="container">
  <h1>Dashboard</h1>
  <div class="row justify-content-end">
      <%= link_to 'Ajouter un spectacle', new_show_path, class:"button-orange" %>
  </div>
  <ul class="nav nav-tabs" data-controller="dashboard-tabs">
    <li class="nav-item" >
      <%= link_to 'Spectacles', dashboard_path, 'data-tab-name' => 'shows', class:'nav-link'%>
    </li>
    <%if @is_seller %>
      <li class="nav-item">
        <%= link_to 'Mes Spectacles', dashboard_user_shows_path, 'data-tab-name' => 'user-shows' ,class:'active nav-link'%>
      </li>
    <% end %>
    <% if @is_seller %>
    <li class="nav-item">
      <%= link_to 'Réservations', dashboard_bookings_path, 'data-tab-name' => 'bookings', class:'nav-link'%>
    </li>
    <% end %>
  </ul>
    <%= render 'shows', shows: @shows %>
    <% if @is_seller%>
        <%= render 'user_shows', user_shows: @user_shows %>
        <%= render 'bookings', bookings: @bookings %>
    <% end %>
</div>
