<div class="container">
  <h1>Dashboard Seller</h1>
  <ul class="nav nav-tabs" data-controller="dashboard-tabs" data-action="click->dashboard-tabs#active">
    <li class="nav-item" data-dashboard-tabs-target="tab">
      <%= link_to 'Mes Spectacles', dashboard_seller_path('seller'), 'data-tab-name' => 'my_shows' ,class:'active nav-link'%>
    </li>
    <li class="nav-item" data-dashboard-tabs-target="tab" >
      <%= link_to 'Spectacles', dashboard_path, 'data-tab-name' => 'shows', class:'nav-link'%>
    </li>
    <li class="nav-item" data-dashboard-tabs-target="tab">
      <%= link_to 'Réservations', dashboard_bookings_path, 'data-tab-name' => 'bookings', class:'nav-link'%>
    </li>
  </ul>
  <div class="row my-3">
    <% if @tabs === 'seller' %>
      <%= render 'seller', my_shows: @my_shows %>
    <% elsif @tabs === 'buyer' %>
      <%= render 'buyer', shows: @shows %>
    <% else %>
      <%= render 'calendar', bookings: @bookings %>
    <% end %>
  </div>
</div>
