<div class="backhomecentered" >
  <div class="logo">
  </div>
    <div class="homecontainer" >
      <div class="formcard border shadow">
      <div class="d-flex justify-content-center">
      <%= image_tag asset_url("logo1b.png")%>
      </div>

        <%= simple_form_for @booking, url: shows_path, method: :get do |f| %>
          <%= f.input :address, input_html: {value: "Ville ou adresse"} , label: false %>
          <%# remplacer plus tard et importer le vrai array %>
          <%= f.input :category, collection: Category.all, prompt: "Catégorie", label: false %>
          <%= f.input :date, label: false, :order => [:day, :month, :year] %>
          <%= f.submit 'Rechercher', class:"button-orange" %>
        <% end %>
      </div>
    </div>
</div>
<%# <div class="homefooter"%>
<%# </div> %>
