<div class="backhomecentered" >
  <div class="logo">
  </div>
    <div class="homecontainer" >
      <div class="formcard border shadow">
      <div class="d-flex justify-content-center">
      <%= image_tag asset_url("logo1b.png")%>
      </div>
        <h5 class="text-center"><em>Trouvez votre bonheur parmi nos <%=Show.count%> spectacles !</em></h5>
        <%= simple_form_for @booking, url: shows_path, method: :get do |f| %>
          <%= f.input :address, placeholder: "Ville ou adresse", label: false %>
          <%= f.input :category, collection: Category.all, prompt: "Catégorie", label: false %>
          <%= f.input :start_time, label: false, :order => [:day, :month, :year] %>
          <%= f.submit 'Rechercher', class:"button-orange" %>
        <% end %>
      </div>
    </div>
</div>
