<div class="container offset-3 col-6 mt-1">
<%= simple_form_for(@show) do |f| %>
<div class="row align-items-start formcreate">
  <div class="col">
    <%= f.input :name, label: "Nom du spectacle" %>
    <%= f.input :company, label: "Nom de la compagnie" %>
    <%= f.association :category, label: "Catégorie"%>
    <%= f.input :description %>
  </div>
  <div class="col">
    <%= f.input :location_center, label: "Joué autour de :" %>
    <%= f.input :location_radius, label: "Dans un rayon de (km):" %>
    <%= f.input :price, label: "Prix" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  </div>
    <div class="d-grid gap-2">
      <%= f.button :submit, 'Valider',  class: "btn btn-primary button-orange"%>
    </div>
<% end %>
</div>
</div>
