<div class="container" data-controller="expand-card">
  <% if @shows.present? %>
  <div id="user-shows" class="row my-3" data-expand-card-target="search">
      <% @shows.each do |show| %>
          <div class="col-4">
            <div class="card mb-3 shadow height-316">

              <div class="card-header">
                  <strong>Compagnie:</strong>
                  <%=show.company %>
              </div>
              <div class="row g-0">
                <div class="col-md-4">
                  <% if show.photos[0] %>
                    <%= cl_image_tag show.photos[0].key, class:"img-fluid rounded-start h-100 w-100"%>
                  <% else %>
                    <%= image_tag asset_url("https://placekeanu.com/200/300/g"), class:"img-fluid rounded-start h-100 w-100" %>
                  <% end %>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h6 class="card-title">
                      <%= show.name %>
                    </h6>
                    <p class="card-text"><%= show.description %></p>
                    <div>
                      <p class="card-text"><small class="text-muted"><strong>Créateur:</strong> <%= show.user.name %></small></p>
                    </div>
                      <span><strong>Prix:</strong> <%= show.price%></span>
                  </div>
                </div>
                <div class="card-footer">
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item m-1" style="cursor: pointer">
                  <%= link_to show_path(show, address: @address, category: @category, date: @date) do %>
                  <i class="fa-solid fa-magnifying-glass-plus orange-icon" data-action="click->expand-card#change" id="<%=show.id%>"></i>
                  <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  <%else%>
    <h2 class="text-center pt-5">Nous n'avons pas de spectacle avec ces critères</h2>
    <div class="col text-center mt-4">
      <%= link_to "Nouvelle recherche", root_path, class:"text-center button-orange"%>
      </div>
  <%end%>
  </div>
<%#   <div class="d-none" data-expand-card-target="alexandre">
    <%= @show = Show.find(72) %>
<%#     <%= render "modal", show: @show %>
<%#   </div>  %>
</div>
<%# <%= render "modal", show:   %>
