<div class="navbar">
</div>
<div class="offset-2 col-10 mt-5 d-grid">
  <div class="row mb-3">
    <div class="col-4">
    <%= cl_image_tag @show.photos[0].key, class:"w-100", crop: :pad  %>
    </div>
    <div class="offset-1 col-4 flex-column">
    <h2><%= @show.name %></h2>
    <h3><%= @show.company %></h3>
    <p><%= @show.description %></p>
    <% @show.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class:"w-25", crop: :limit %>
    <% end %>
    </div>
  </div>

</div>
