<div class="navbar">
</div>
<div class="offset-2 col-8 mt-5 d-grid shadow">
  <div class="row">
    <div class="col-4">
    <%= cl_image_tag @show.photos[0].key, class:"w-100 img-fluid"%>
    </div>
    <div class="col-8 d-flex flex-column justify-content-between">
      <div class="card-title">
        <h2><%= @show.name %></h2>
        <h4>by <%= @show.company %></h4>
      </div>
      <div class="flex-grow-1 d-flex align-items-center mb-2 me-4 border">
        <p><%= @show.description %></p>
      </div>
      <div class="mb-3">
        <% @show.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height:150, crop: :scale %>
        <% end %>
      </div>
    </div>
  </div>

</div>
