<!DOCTYPE html>
<html>
  <head>
    <title>Deliverez Nous !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/louismic/image/upload/v1661432123/LogoDN-backless_t3zsvp.png">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Shadows+Into+Light&display=swap" rel="stylesheet">


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
 <div class="background">
    <div class="navbar-DN">
      <ul class="d-flex justify-content-evenly align-items-center">
        <li class="nav-item">
          <%= link_to root_path do %>
            <%= image_tag "logo3b.png", class: "mr-auto p-2" %>
            <%end%>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Tableau de bord", dashboard_path, class: "button-orange nav-but" %>
          </li>
           <li class="nav-item">
            <%= button_to("Se déconnecter", destroy_user_session_path, method: :delete, class: "button-orange nav-but") %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "S'enregistrer", new_user_registration_path, class: "button-orange nav-but" %>
          </li>
          <li class="nav-item">
            <%= link_to "S'identifier", new_user_session_path, class: "button-orange nav-but" %>
          </li>
        <% end %>
        </ul>
      </div>
      <div style="margin-bottom: -30px">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
